.box {
      width: 400px;
      background-color: lightblue;
      border: 15px solid blue;
      padding: 50px;
      margin: 20px;
      color: black;
      font-family: Arial, sans-serif;
      box-sizing: border-box;
}

.demo{
	border:1px dotted black;
	width:300px;
}